spring:
  thymeleaf:
    # close cache
    cache: false
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url:  jdbc:mysql://localhost:3306/seckill?useUnicode=true&characterEncoding=UTF-8&serverTimezone=Asia/Shanghai
    username: root
    password: 1234
      # ?????
    hikari:
        # ????
      pool-name: DateHikariCP
        # ???????
      minimum-idle: 5
        # ?????????????600000?10???
      idle-timeout: 180000
        # ????????10
      maximum-pool-size: 10
        # ??????????????
      auto-commit: true
        # ?????????0?????????1800000?30???
      max-lifetime: 1800000
        # ?????????30000?30??
      connection-timeout: 30000
        # ?????????????
      connection-test-query: SELECT 1
# Mybatis-plus??
mybatis-plus:
  #??Mapper????
  mapper-locations: classpath*:/mapper/*Mapper.xml
  # ??MyBatis?????????????????
  type-aliases-package: cn.edu.nju.seckill.pojo
## Mybatis SQL ??(???????????Mapper.xml????)
logging:
  level:
    cn.edu.nju.seckill.mapper: debug